<html>
  <head>
  </head>
  <body>
    <div class="about">
      <h1>CONSERVATION HELP PAGE</h1>
      <hr class="line"/>

      <%= image_tag 'soil.jpg', class: 'me' %>
        <div class="box">
          <h2>Take part in saving the planet!</h2>
          <p class="bio">Reduse/Reuse/Recycle & Refuse</p>
        </div>

    </div>
  </body>
</html>