<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Fauna+One|Itim&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="about">
      <h1>CONSERVATION HELP PAGE</h1>
      <hr class="line"/>

      <img src="soil.jpg" class="me" />

      <h2>Take part in saving the planet!</h2>
      <p class="bio">Reduse/Reuse/Recycle & Refuse</p>

    </div>
  </body>
</html>