<h4>RECYCLEABLE ITEMS</h4>
<div class="container">
  <h3>Rigid Plastics/Bottles</h3>
    <div class="list">
      - Any plastic bottles or containers found in your kitchen'
    </div>
  <br />
  <br />
  <h3>Paper and Cardboard</h3>
    <div class="list">
      - Cereal/snack cardboard boxes
      <br />
      - Phonebooks, magazines, and mail
      <br />
        - Office Paper, newspaper, and cardboard
      <br />
      <br />
    </div>
<h3>Metals</h3>
  <div class="list">
    - Tin, aluminum, and steel cans
  </div>
<br />
<br />
<h3>Glass</h3>
  <div class="list">
    - Food containers or jars
    <br />
    - Soft drink and beer bottles
    <br />
    - Wine and liquor bottles
  </div>
</div>

<br class="clear" />

